{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Review page for Tufts Cribz">
  <meta name="author" content="Tufts Cribz Dev Team">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static '/images/tufts_logo.png' %}"/>

  <title>Tufts Cribz: Review a Dorm</title>
</head>

<body>
    <div class="basic">
        {% include "reviews/nav.html" %}    
    </div>

	<div class="jumbotron">
		<div class="container">
			<h2>Choose a Dorm to Review:</h2><br>
			{% if dorms_list %}
			<div class="row">
				{% for dorm in dorms_list %}
				<div class="col-md-12"><h4><a href="/{{ dorm.dorm_id }}/post/">{{ dorm.name }}</a></h4></div>
				{% endfor %}
			</div>
			{% else %}
			<p>No dorms are available.</p>
			{% endif %}
		</div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>